<div class="breadcrumbs no-print">
	<div class="col-sm-4">
		<div class="page-header float-left">
			<div class="page-title">
			</div>
		</div>
	</div>
	<div class="col-sm-8">
		<div class="page-header float-right">
			<div class="page-title">
				<ol class="breadcrumb text-right">
					<li class="active">Bienvenido {{USER.usuario}} </li>
				</ol>
			</div>
		</div>
	</div>
</div>

<div class="content row mt-3">

	<div class="col-sm-12">



		<div class="content no-print">
			<div class="card">
				<div class="card-header">
					<strong class="card-title">CREAR</strong>
				</div>
				<div class="card-body">

					<form ng-submit="guardarc(carrera_nuevo)">

						<div class="row">
							<div class="col-sm-3">Dirección: </div>
							<input placeholder="Lugar Inicio" class="col-sm-8 form-control font-16" type="text" ng-model="carrera_nuevo.lugar_inicio"
								uib-typeahead="direccion.direccion for direccion in direcciones | filter:$viewValue | limitTo:8">
						</div>
						
						<div class="row mt-3">
							<div class="col-sm-3" uib-tooltip="Celular al que llamaron pidiendo el servicio">Celular llamado: </div>

							<div class="col-sm-7 no-padding" >
								<div class="btn-group">
									<label class="btn btn-success" ng-model="carrera_nuevo.cell_llamado" uib-btn-radio="'{{cell.cell_llamado}}'"
										ng-repeat="cell in celulares">{{cell.cell_llamado}}</label>
									
									<button class="btn btn-primary" type="button" uib-tooltip="Otro número" ng-click="mostrar_mas_cell()" ng-show="!mostrando_mas_cell">
										<i class="fa fa-plus"></i>
									</button>

								</div>
							</div>
							
							<input placeholder="Celular llamado" ng-show="mostrando_mas_cell" class="col-sm-2 form-control font-16" type="text" ng-model="carrera_nuevo.cell_llamado"
								style="font-size: 10pt;">
							
						</div>

						<div class="row mt-3">
							<div class="col-sm-3">Taxi: </div>

							<div class="col-sm-4 no-padding">

								<ui-select ng-model="carrera_nuevo.taxi" on-select="select_taxista(carrera_nuevo)" style="width: 100%;" theme="bootstrap">
									<ui-select-match placeholder="Taxi">
										<span ng-bind="$select.selected.rowid + ' (' + $select.selected.numero + ')'"></span>
									</ui-select-match>
									<ui-select-choices repeat="item in  taxis |  filter: $select.search track by $index">
										<span ng-bind-html="item.rowid + ' (' + item.numero + ')' | highlight: $select.search"></span>
									</ui-select-choices>
								</ui-select>

							</div>
						</div>

						<div class="row">
							<div class="col-sm-3">Taxista:</div>


							<div class="col-sm-4 no-padding">

								<ui-select ng-model="carrera_nuevo.taxista" " style=" width: 100%;" theme="bootstrap">
									<ui-select-match placeholder="Taxista">
										<span ng-bind="$select.selected.nombres + ' ' + $select.selected.apellidos "></span>
									</ui-select-match>
									<ui-select-choices repeat="item in  taxistas |  filter: $select.search track by $index">
										<span ng-bind-html="item.nombres + ' ' + item.apellidos  | highlight: $select.search"></span>
									</ui-select-choices>
								</ui-select>

							</div>



						</div>
						<div class="row" style="padding-top: 10px;  padding-bottom: 10px">
							<div class="col-sm-3">Zona de parqueo: </div>
							<div class="col-sm-4">
								<div class="btn-group">
									<label class="btn btn-primary btn-lg" ng-model="carrera_nuevo.zona" uib-btn-radio="'Z1'">Z1</label>
									<label class="btn btn-primary btn-lg" ng-model="carrera_nuevo.zona" uib-btn-radio="'Z2'">Z2</label>
									<label class="btn btn-primary btn-lg" ng-model="carrera_nuevo.zona" uib-btn-radio="'Z3'">Z3</label>
									<label class="btn btn-primary btn-lg" ng-model="carrera_nuevo.zona" uib-btn-radio="'Otro'">Otro</label>

								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-3" style="margin-top: 30px">Fecha llamada: </div>
							
							<input placeholder="Fecha llamada" class="col-sm-4 form-control font-16" type="date" ng-model="carrera_nuevo.fecha_ini"
								style="margin-top: 28px">
							 
							<div uib-timepicker ng-model="carrera_nuevo.hora_ini"" ng-change=" 1" hour-step="1" minute-step="1"
							 show-meridian="true" style="margin-left: 10px"></div>


						</div>

						<!--
						<div class="row">
							<div class="col-sm-3">Lugar Fin: </div>
							<input placeholder="Lugar Fin" class="col-sm-4 form-control font-16" type="text" ng-model="carrera_nuevo.lugar_fin" name="">
						</div>
						-->

						<div class="row">
							<div class="col-sm-3" style="margin-top: 30px">Fecha encuentro: </div>
							<input placeholder="Fecha Fin" class="col-sm-4 form-control font-16" type="date" ng-model="carrera_nuevo.fecha_fin"
								style="margin-top: 28px">
						
							<div uib-timepicker ng-model="carrera_nuevo.hora_fin" ng-change=" 1" hour-step="1" minute-step="1"
								show-meridian="true" style="margin-left: 10px"></div>
						</div>

						<div class="row">
							<div class="col-sm-3">Estado: </div>
							<div class="col-sm-3">
								<label>
									<input class="" type="radio" name="gender" value="En curso" ng-model="carrera_nuevo.estado"> En curso<br>
								</label>
							</div>

							<div class=" col-sm-3">
								<label>
									<input class="" type="radio" name="gender" value="Finalizada" ng-model="carrera_nuevo.estado"> Finalizada<br>
								</label>
							</div>
							<div class=" col-sm-3">
								<label>
									<input class="" type="radio" name="gender" value="Cancelada" ng-model="carrera_nuevo.estado"> Cancelada<br>
								</label>
							</div>
						</div>



						<button class="btn btn-info btn-block mt-4" style="font-size: 13pt;" type="submit">
							<i class="fa fa-save"></i>
							Guardar</button>

					</form>
				</div>

			</div>
		</div>



		<div class=" content mt-3 no-print">
			<div style="height: 150px; background-color: white;   text-align: center " class="card">
				<div class="card-header">
					<strong style="text-align: left" class="card-title">ESTADO</strong>
				</div>
				<div style=" text-align: center">
					<BUTTON class="btn btn-primary btn-estado " ng-click="en_curso(carrera_estado)" style="margin-top: 27px; padding: 10px "
					 ng-disabled="carrera_estado.estado=='En curso'">EN CURSO</BUTTON>

					<BUTTON class="  btn-estado btn btn-primary " ng-click="finalizada(carrera_estado)" ng-disabled="carrera_estado.estado=='Finalizada'"
					 style="margin-top: 27px; padding: 10px ">FINALIZADA</BUTTON>

					<BUTTON class="    btn-estado btn btn-primary " ng-click="cancelada(carrera_estado)" ng-disabled="carrera_estado.estado=='Cancelada'"
					 style="margin-top: 27px; padding: 10px ">CANCELADA</BUTTON>

				</div>
			</div>
		</div>





		<div class="content mt-3">
			<div class="card">
				<div class="card-header" style="text-align: center;">
					<strong class="card-title">CARRERAS</strong>
				</div>
				<div class="card-body" style="min-height: 500px;">
					
					<button ng-click="imprimir()" class="btn btn-success btn-lg no-print">
						<i class="glyphicon glyphicon-print"></i>
						Imprimir</button>
						
					<br class="no-print">
					<br class="no-print">
					  
							
					<div style="margin-bottom: 20px" class="no-print">
						<label for="">Traer datos de</label>
						
						<select name="select_year" ng-model="dato.select_year" ng-change="traer_datos(dato)">
							<option value="0">Cualquier año</option>
							<option value="2018">2018</option>
							<option value="2019">2019</option>
							<option value="2020">2020</option>
							<option value="2021">2021</option>
						</select>
						
						<select name="select_month" ng-model="dato.select_month" ng-change="traer_datos(dato)">
							<option value="0">Cualquier mes</option>
							<option value="01">Enero</option>
							<option value="02">Febrero</option>
							<option value="03">Marzo</option>
							<option value="04">Abril</option>
							<option value="05">Mayo</option>
							<option value="06">Junio</option>
							<option value="07">Julio</option>
							<option value="08">Agosto</option>
							<option value="09">Septiembre</option>
							<option value="10">Octubre</option>
							<option value="11">Noviembre</option>
							<option value="12">Diciembre</option>
						</select>
						
						<input type="button" class="btn btn-info" value="Buscar" ng-click="traer_datos(dato)">
					</div>
					
					<div>
						<input type="text" ng-model="buscando" placeholder="Buscar..." class="form-control col-sm-6 no-print" style="margin-bottom: 20px; font-size: 14px;">
					</div>
					
					<table class="table tb-carreras table-condensed">
						<thead class="thead-dark">
							<tr>
								<th scope="col">#</th>
								<th scope="col">Taxi</th>
								<th scope="col">Taxista</th>
								<th scope="col">Z</th>
								<th scope="col">Celular</th>
								<th scope="col">
									<span uib-tooltip="Registrado por">Por</span>
								</th>
								<th scope="col">Llamada</th>
								<th scope="col">Dirección</th>
								<!--<th scope="col">Lugar Fin</th>-->
								<th scope="col">Encuentro</th>
								<th scope="col">Estado</th>
								<TH class="no-print">Editar</TH>

							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="carrera in carreras | filter:buscando" class="manito" ng-class="{'fondo-seleccionado': carrera.seleccionada}">
								<td scope="row">{{carrera.rowid}}</td>
								<td ng-click="modificarcarrera(carrera)">
									{{carrera.numero}}
								</td>
								<td ng-click="modificarcarrera(carrera)">
									{{carrera.nombres}} {{carrera.apellidos}}
								</td>
								<td ng-click="modificarcarrera(carrera)" style="font-size: 10pt;">
									{{carrera.zona}}
								</td>
								<td ng-click="modificarcarrera(carrera)" style="font-size: 10pt;">
									{{carrera.cell_llamado}}
								</td>
								<td ng-click="modificarcarrera(carrera)" style="font-size: 10pt;">
									{{::carrera.nombres_reg}} {{::carrera.apellidos_reg}}
								</td>
								<td ng-click="modificarcarrera(carrera)">
									{{carrera.fecha_ini | date:'yyyy-MM-dd hh:mm a' }}</td>
								<td ng-click="modificarcarrera(carrera)"> {{carrera.lugar_inicio}}</td>
								<!--<td ng-click="modificarcarrera(carrera)">{{carrera.lugar_fin}}</td>-->
								<td ng-click="modificarcarrera(carrera, true)">
									<span ng-show="!carrera.cambiando_hora"> 
										{{carrera.fecha_fin | date:'yyyy-MM-dd hh:mm a'}}
									</span>
										
									<div ng-show="carrera.cambiando_hora" style="background-color: #a3fc8a; padding: 4px;"> 
										<div uib-timepicker ng-model="carrera.fecha_fin" ng-change="1" hour-step="1" minute-step="1"
											show-meridian="true" style="margin-left: 10px"></div>
										
										<button ng-click="guardar_hora_fin(carrera)" type="button" class="btn btn-primary" uib-tooltip="Guardar hora">
											<i class="fa fa-save"></i>
											Guardar
										</button>
										<button type="button" ng-click="cancelar_fecha_fin(carrera)" class="btn btn-warning" uib-tooltip="Cancelar">
											<i class="fa fa-undo"></i>
											Cancelar
										</button>
									</div>
								</td>
								<td ng-click="modificarcarrera(carrera)" 
									ng-class="{'estado-curso': carrera.estado=='En curso', 'estado-finalizada': carrera.estado=='Finalizada'}">
									{{carrera.estado}}
								</td>

								<td class="no-print">
									<button ng-click="editar(carrera)" type="button" class="btn btn-info">
										<span class="fa fa-pencil"></span>
									</button>
									<button type="button" ng-click="eliminar(carrera)" class="btn btn-danger">
										<span class="fa fa-times"></span>
									</button>
								</td>
							</tr>

						</tbody>
					</table>

				</div>
			</div>
		</div>
		<div class="content mt-3" ng-show="ver" id="id-editar-carrera" style="margin-bottom: 50px">
			<div class="card">
				<div class="card-header">
					<strong class="card-title">MODIFICAR</strong>
				</div>
				<div class="card-body">
					<form>
						<div>

							<div class="row">
								<div class="col-sm-3">Dirección: </div>
								<input placeholder="Lugar Inicio" class="col-sm-8 form-control font-16" type="text" ng-model="carrera_Editar.lugar_inicio"
									uib-typeahead="direccion.direccion for direccion in direcciones | filter:$viewValue | limitTo:8">
							</div>
							
							<div class="row mt-3">
								<div class="col-sm-3" uib-tooltip="Celular al que llamaron pidiendo el servicio">Celular llamado: </div>
	
								<div class="col-sm-7 no-padding" >
									<div class="btn-group">
										<label class="btn btn-success" ng-model="carrera_Editar.cell_llamado" uib-btn-radio="'{{cell.cell_llamado}}'"
											ng-repeat="cell in celulares">{{cell.cell_llamado}}</label>
										
										<button class="btn btn-primary" type="button" uib-tooltip="Otro número" ng-click="mostrar_mas_cell()" ng-show="!mostrando_mas_cell">
											<i class="fa fa-plus"></i>
										</button>
	
									</div>
								</div>
								
								<input placeholder="Celular llamado" ng-show="mostrando_mas_cell" class="col-sm-2 form-control font-16" type="text" ng-model="carrera_Editar.cell_llamado"
									style="font-size: 10pt;">
								
							</div>
							
							<div class="row mt-3">
								<div class="col-sm-3">Taxi: </div>

								<div class="col-sm-4 no-padding">

									<ui-select ng-model="carrera_Editar.taxi" on-select="select_taxista(carrera_Editar)" style="width: 100%;" theme="bootstrap">
										<ui-select-match placeholder="Taxi">
											<span ng-bind="$select.selected.rowid + ' (' + $select.selected.numero + ')'"></span>
										</ui-select-match>
										<ui-select-choices repeat="item in  taxis |  filter: $select.search track by $index">
											<span ng-bind-html="item.rowid + ' (' + item.numero + ')' | highlight: $select.search"></span>
										</ui-select-choices>
									</ui-select>

								</div>
							</div>

							<div class="row">
								<div class="col-sm-3">Taxista:</div>


								<div class="col-sm-4 no-padding">

									<ui-select ng-model="carrera_Editar.taxista" style="width: 100%;" theme="bootstrap">
										<ui-select-match placeholder="Taxista">
											<span ng-bind="$select.selected.nombres + ' ' + $select.selected.apellidos "></span>
										</ui-select-match>
										<ui-select-choices repeat="item in  taxistas |  filter: $select.search track by $index">
											<span ng-bind-html="item.nombres + ' ' + item.apellidos  | highlight: $select.search"></span>
										</ui-select-choices>
									</ui-select>

								</div>



							</div>
							<div class="row" style="padding-top: 10px;  padding-bottom: 10px">
								<div class="col-sm-3">Zona de parqueo: </div>
								<div class="col-sm-4">
									<div class="btn-group">
										<label class="btn btn-primary btn-lg" ng-model="carrera_Editar.zona" uib-btn-radio="'Z1'">Z1</label>
										<label class="btn btn-primary btn-lg" ng-model="carrera_Editar.zona" uib-btn-radio="'Z2'">Z2</label>
										<label class="btn btn-primary btn-lg" ng-model="carrera_Editar.zona" uib-btn-radio="'Z3'">Z3</label>
										<label class="btn btn-primary btn-lg" ng-model="carrera_Editar.zona" uib-btn-radio="'Otro'">Otro</label>

									</div>
								</div>
							</div>


							<div class="row">
								<div class="col-sm-3" style="margin-top: 30px">Fecha llamada: </div>
								<input placeholder="Fecha llamada" class="col-sm-4 form-control font-16" type="date" ng-model="carrera_Editar.fecha_ini"
									style="margin-top: 27px">
								<div uib-timepicker ng-model="carrera_Editar.fecha_ini"" ng-change=" 1" hour-step="1" minute-step="1"
									show-meridian="true" style="margin-left: 10px"></div>


							</div>

							
							<!--
							<div class="row">
								<div class="col-sm-3">Lugar Fin: </div>
								<input placeholder="Lugar Fin" class="col-sm-4 form-control" type="text" ng-model="carrera_Editar.lugar_fin"
								 name="">
							</div>
							-->

							<div class="row">
								<div class="col-sm-3" style="margin-top: 30px">Fecha Fin: </div>
								<input placeholder="Fecha Fin" class="col-sm-4 form-control font-16" type="date" ng-model="carrera_Editar.fecha_fin"
									style="margin-top: 27px">
								<div uib-timepicker ng-model="carrera_Editar.fecha_fin" ng-change="1" hour-step="1" minute-step="1"
								 show-meridian="true" style="margin-left: 10px"></div>
							</div>

							<div class="row">
								<div class="col-sm-2">Estado: </div>
								<div class="col-sm-3">
									<label>
										<input class="" type="radio" name="gender" value="En curso" ng-model="carrera_Editar.estado"> En curso
									</label>
								</div>
								<div class=" col-sm-3">
									<label>
										<input class="" type="radio" name="gender" value="Finalizada" ng-model="carrera_Editar.estado"> Finalizada
									</label>
								</div>
								<div class=" col-sm-3">
									<label>
										<input class="" type="radio" name="gender" value="Cancelada" ng-model="carrera_Editar.estado"> Cancelada
									</label>
								</div>
							</div>

							<button class="btn btn-info" ng-click="guardarcarrera(carrera_Editar)">
								<i class="fa fa-save"></i>
								Guardar cambios</button> 
							<button class="btn btn-default" ng-click="cancelar()">Cancelar</button>
					</form>
				</div>
			</div>
		</div>







	</div>


</div>